mixin leaders-img
    svg(width='44' height='46' fill='none' xmlns='http://www.w3.org/2000/svg')
        g
            rect.svg-tab-shadow(filter="url(#filter0_f_23_354)" x='13' y='14' width='19' height='19' fill='#04C100')
        path.svg-tab(d="M31.5707 29.9317H12.446V32.4617H31.5707V29.9317Z" fill="white")
        path.svg-tab(d="M32.3678 33.3051H11.6494V34.9918H32.3678V33.3051Z" fill="white")
        path.svg-tab(fill-rule="evenodd" clip-rule="evenodd" d="M23.6051 17.2817H24.3541L21.9635 21.4984L19.573 17.2817H20.4177C20.4177 17.2817 19.9874 12.4848 18.0271 8.00494C18.1068 8.23265 15.6365 13.9083 15.6365 17.2817C15.5967 17.3162 14.0428 17.2817 14.0428 17.2817C14.0428 17.2817 13.2459 12.4873 9.26161 10.535C8.83131 10.325 11.6283 22.9152 11.6522 29.0884H32.3706C32.3706 29.0884 32.769 16.2536 34.7612 11.3783C35.1038 10.535 30.7769 11.3783 29.98 17.2817C29.8127 17.4267 28.3863 17.2817 28.3863 17.2817C28.3863 17.2817 27.5496 10.6016 25.9957 8.00494C25.8523 8.12217 24.402 11.3783 23.6051 17.2817ZM17.5808 23.185L18.7761 25.2934L17.5808 27.4017L16.3855 25.2934L17.5808 23.185ZM26.3463 23.185L27.5416 25.2934L26.3463 27.4017L25.151 25.2934L26.3463 23.185Z" fill="white")
        defs
            filter(id = "filter0_f_23_354" x='0' y='0' width='50' height='50' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
                feFlood(flood-opacity='0' result='BackgroundImageFix')
                feBlend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                feGaussianBlur(stdDeviation='6' result='effect1_foregroundBlur_23_358')

mixin MeleeSquad-img
    svg(width='55' height='58' fill='none' xmlns='http://www.w3.org/2000/svg')
        g
            path.svg-tab-shadow(filter="url(#filter0_f_117_164)" d='M29.9699 42.3315L14.7203 26.3052L13.6683 27.4535L28.9179 43.4798L29.9699 42.3315Z' fill='#FFC803')
            path.svg-tab-shadow(filter="url(#filter0_f_117_164)" fill-rule='evenodd' clip-rule='evenodd' d='M16.1484 29.4981L26.9619 40.8623L25.6183 41.1408L15.914 30.9422L16.1484 29.4981Z' fill='#FFC803')
            path.svg-tab-shadow(filter="url(#filter0_f_117_164)" fill-rule='evenodd' clip-rule='evenodd' d='M22.1932 33.5937L19.9752 31.2627L34.7167 15.172L42.2275 12.9137L40.2617 20.9994L25.5202 37.0901L23.3022 34.7591L29.592 26.7057L22.1932 33.5937Z' fill='#FFC803')
            path.svg-tab-shadow(filter="url(#filter0_f_117_164)" fill-rule='evenodd' clip-rule='evenodd' d='M18.4237 34.1434L12.8957 40.1774C12.8957 40.1774 11.6635 45.0863 12.218 45.669C12.7725 46.2518 17.3316 44.8393 17.3316 44.8393L22.8597 38.8053L18.4237 34.1434Z' fill='#FFC803')
        path.svg-tab(d='M30.2173 39.5232L17.0705 26.3764L16.1627 27.3193L29.3095 40.4661L30.2173 39.5232Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M18.3015 28.9958L27.6238 38.3181L26.4649 38.5472L18.0987 30.1811L18.3015 28.9958Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M23.5125 32.3557L21.6002 30.4434L34.3098 17.243L40.7853 15.3903L39.0904 22.0236L26.3809 35.2241L24.4686 33.3118L29.8914 26.705L23.5125 32.3557Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M20.2626 32.8067L15.4965 37.7569C15.4965 37.7569 14.4342 41.784 14.9123 42.2621C15.3903 42.7401 19.321 41.5814 19.321 41.5814L24.0871 36.6312L20.2626 32.8067Z' fill='white')
        defs
            filter(id="filter0_f_117_164" x='-2' y='-2' width='59' height='62' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                feflood(flood-opacity='0' result='BackgroundImageFix')
                feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                fegaussianblur(stddeviation='6' result='effect1_foregroundBlur_117_164')

mixin LongRangeSquad
    svg(width='37' height='36'  fill='none' xmlns='http://www.w3.org/2000/svg')
        g
            path.svg-tab-shadow(filter="url(#filter0_f_118_196)" fill-rule='evenodd' clip-rule='evenodd' d='M27.2043 12.4223L28.5295 5L21.3759 7.93458L22.2969 8.64372C18.0617 6.24241 12.4221 5.50342 5.28984 5.91281L5 6.24182C5.99652 6.23547 6.96499 6.25615 7.90554 6.30461L6.97171 6.54758L11.1972 21.822L10.5575 22.5857L14.017 25.311L14.0027 25.414L30.9244 27.6307L31.1586 25.9489C31.374 26.9942 31.5578 28.0853 31.7102 29.2232L32 28.8942C31.3866 20.6475 29.3588 14.9981 25.8151 11.3527L27.2043 12.4223ZM31.132 25.8209L15.3446 23.7528L24.651 12.6414C27.783 15.7621 29.9346 20.1003 31.132 25.8209ZM8.86461 6.3644C13.744 6.72255 17.8413 7.86708 21.1742 9.90991L12.6582 20.0776L8.86461 6.3644ZM14.2956 25.7019L10.2181 22.498L5.79188 27.796L9.86938 31L14.2956 25.7019Z' fill='#FFC803')
        g
            path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M22.4884 7.91983L26.1846 11.0807L27.2814 6.40173L22.4884 7.91983Z' fill='white')
            path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M12.9635 24.2677L13.948 25.9408L10.8692 29.6802L9.95809 26.9617L12.9635 24.2677Z' fill='white')
            path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M12.2718 23.6745L10.4841 22.9769L7.4053 26.7163L10.1905 27.1586L12.2718 23.6745Z' fill='white')
            path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M23.6432 8.90759L9.54761 26.0274L11.1647 27.4103L25.2604 10.2905L23.6432 8.90759ZM22.3042 11.4902C22.7902 11.402 23.0378 11.5813 22.9972 12.0829L20.6833 14.8933C20.109 15.0869 19.9134 14.8487 19.9902 14.3006L22.3042 11.4902Z' fill='white')
            path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M5.02517 5.70084C20.0506 5.90937 28.7497 12.5533 31.7345 28.5413L31.993 28.2274C29.6745 10.2023 21.2595 4.77591 5.28365 5.3869L5.02517 5.70084Z' fill='white')
            path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M30.9295 26.3728L13.5497 24.0345L13.2039 24.4544L30.9787 26.7727L30.9295 26.3728Z' fill='white')
            path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M7.77298 6.16895L12.4529 23.454L12.0862 23.8994L7.36766 6.20185L7.77298 6.16895Z' fill='white')
        defs
            filter( id="filter0_f_118_196" x='0' y='0' width='37' height='36' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                feflood(flood-opacity='0' result='BackgroundImageFix')
                feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                fegaussianblur(stddeviation='2.5' result='effect1_foregroundBlur_118_196')

mixin SiegeSquad
    svg(width='52' height='49'  fill='none' xmlns='http://www.w3.org/2000/svg')
        g
            path.svg-tab-shadow(filter="url(#filter0_f_118_303)" d='M38.9219 8.05618H36.8962V29.8044H38.9219V8.05618Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_303)" fill-rule='evenodd' clip-rule='evenodd' d='M36.8962 9.11757L13.6008 29.8049H15.6265L36.8962 11.2393V9.11757Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_303)" d='M41.4537 29.8047H10.562V35.1092H41.4537V29.8047Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_303)" fill-rule='evenodd' clip-rule='evenodd' d='M39.4289 29.8047L9.04361 8.58688L8.03076 9.64777L36.3904 29.8047H39.4289Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_303)" fill-rule='evenodd' clip-rule='evenodd' d='M8.03076 14.4212L12.0821 17.0734L16.1335 14.9516L8.53718 9.64716L8.03076 14.4212Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_303)" d='M12.5886 40.9437C15.1058 40.9437 17.1464 38.8063 17.1464 36.1697C17.1464 33.5331 15.1058 31.3957 12.5886 31.3957C10.0714 31.3957 8.03076 33.5331 8.03076 36.1697C8.03076 38.8063 10.0714 40.9437 12.5886 40.9437Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_303)" d='M39.4282 40.413C41.9454 40.413 43.986 38.2756 43.986 35.639C43.986 33.0024 41.9454 30.865 39.4282 30.865C36.911 30.865 34.8704 33.0024 34.8704 35.639C34.8704 38.2756 36.911 40.413 39.4282 40.413Z' fill='#FF9100')
        path.svg-tab(d='M37.6272 10.7227H35.8829V28.9442H37.6272V10.7227Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M35.8829 11.612L15.8229 28.9446H17.5673L35.8829 13.3897V11.612Z' fill='white')
        path.svg-tab(d='M39.8074 28.9445H13.2062V33.3888H39.8074V28.9445Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M38.0638 28.9444L11.8987 11.1674L11.0265 12.0562L35.4473 28.9444H38.0638Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M11.0265 16.0556L14.5152 18.2777L18.0039 16.5L11.4626 12.0557L11.0265 16.0556Z' fill='white')
        path.svg-tab(d='M14.9513 38.2772C17.1188 38.2772 18.876 36.4864 18.876 34.2773C18.876 32.0683 17.1188 30.2775 14.9513 30.2775C12.7837 30.2775 11.0265 32.0683 11.0265 34.2773C11.0265 36.4864 12.7837 38.2772 14.9513 38.2772Z' fill='white')
        path.svg-tab(d='M38.0631 37.8325C40.2307 37.8325 41.9879 36.0417 41.9879 33.8327C41.9879 31.6236 40.2307 29.8329 38.0631 29.8329C35.8955 29.8329 34.1384 31.6236 34.1384 33.8327C34.1384 36.0417 35.8955 37.8325 38.0631 37.8325Z' fill='white')
        defs
            filter(id="filter0_f_118_303" x='0' y='-2' width='52' height='53' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                feflood(flood-opacity='0' result='BackgroundImageFix')
                feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                fegaussianblur(stddeviation='4' result='effect1_foregroundBlur_118_303')

mixin Heroes
    svg(width='51' height='50'  fill='none' xmlns='http://www.w3.org/2000/svg')
        g
            path.svg-tab-shadow(filter="url(#filter0_f_118_338)" fill-rule='evenodd' clip-rule='evenodd' d='M12.7408 27.1546C10.1612 16.5626 20.9923 8.99803 31.3067 15.2095C24.6024 3.74219 3.97355 12.8205 12.7408 27.1546Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_338)" fill-rule='evenodd' clip-rule='evenodd' d='M34.4011 20.9424C34.4011 20.9424 32.1123 25.343 27.1083 27.2938C26.9 27.3153 37.5124 23.3051 40.0235 21.9759C39.8729 21.7776 34.4011 20.9424 34.4011 20.9424Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_338)" fill-rule='evenodd' clip-rule='evenodd' d='M23.5292 33.8396C17.5479 33.692 12.7413 29.147 12.7413 23.5703C12.7413 17.9006 17.7094 13.2977 23.8291 13.2977C28.7261 13.2977 32.8859 16.245 34.3525 20.3283C33.8686 21.0492 30.9888 25.1239 26.2572 27.4376C25.2501 27.7647 24.6277 27.9588 24.6277 27.9588L22.8457 33.8034C22.854 33.9034 23.2978 33.7851 23.5292 33.8396Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_338)" fill-rule='evenodd' clip-rule='evenodd' d='M40.382 21.976L34.6415 31.6152L23.1616 33.9417L24.9552 28.2912C24.9552 28.2912 36.4357 24.3024 40.382 21.976Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_338)" fill-rule='evenodd' clip-rule='evenodd' d='M16.3455 31.6147L13.4755 35.6033C16.3265 37.5939 18.6068 38.6801 22.8032 38.2623V34.2737C20.0483 33.8613 18.4733 33.2473 16.3455 31.6147Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_338)" fill-rule='evenodd' clip-rule='evenodd' d='M23.1616 34.2737L34.6418 31.947L33.5655 34.2737H23.1616Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_338)" fill-rule='evenodd' clip-rule='evenodd' d='M23.1616 37.9304C27.0304 39.3683 31.1644 39.9187 34.8226 38.9748L35.0006 39.5923C30.67 40.3698 26.6892 40.0361 23.1616 38.2628V37.9304ZM23.1616 34.6066H33.5655L34.7358 38.673C31.2591 39.6508 27.1449 39.1263 23.1616 37.598V34.6066Z' fill='#FF9100')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M14.2874 26.4391C12.0204 16.9064 21.5387 10.0982 30.6029 15.6885C24.7112 5.36797 6.58282 13.5384 14.2874 26.4391Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M33.3222 20.8481C33.3222 20.8481 31.3108 24.8087 26.9134 26.5644C26.7303 26.5838 36.0564 22.9746 38.2631 21.7783C38.1307 21.5998 33.3222 20.8481 33.3222 20.8481Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M23.7681 32.4556C18.5118 32.3228 14.2878 28.2323 14.2878 23.2133C14.2878 18.1105 18.6537 13.968 24.0316 13.968C28.3351 13.968 31.9907 16.6205 33.2795 20.2954C32.8542 20.9443 30.3235 24.6115 26.1654 26.6938C25.2804 26.9882 24.7334 27.1629 24.7334 27.1629L23.1674 32.423C23.1747 32.5131 23.5647 32.4066 23.7681 32.4556Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M38.5781 21.7784L33.5334 30.4537L23.445 32.5475L25.0213 27.462C25.0213 27.462 35.1102 23.8722 38.5781 21.7784Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M17.4552 30.4532L14.933 34.0429C17.4385 35.8345 19.4423 36.8121 23.1301 36.4361V32.8464C20.7091 32.4751 19.325 31.9226 17.4552 30.4532Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M23.445 32.8463L33.5337 30.7523L32.5879 32.8463H23.445Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M23.445 36.1374C26.8449 37.4315 30.4778 37.9269 33.6926 37.0773L33.849 37.6331C30.0433 38.3328 26.5451 38.0325 23.445 36.4365V36.1374ZM23.445 33.146H32.5879L33.6163 36.8057C30.561 37.6858 26.9455 37.2137 23.445 35.8382V33.146Z' fill='white')
        defs
            filter(id="filter0_f_118_338" x='-1' y='0' width='53' height='50' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                feflood(flood-opacity='0' result='BackgroundImageFix')
                feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                fegaussianblur(stddeviation='5' result='effect1_foregroundBlur_118_338')

mixin SpecialCards
    svg(width='54' height='54' fill='none' xmlns='http://www.w3.org/2000/svg')
        g
            path.svg-tab-shadow(filter="url(#filter0_f_118_420)" fill-rule='evenodd' clip-rule='evenodd' d='M16.9992 25.2899C16.4908 24.9216 15.9119 24.4155 15.5475 23.8135C15.045 22.984 14.2722 22.5048 12.1624 22.7773C12.1624 22.7773 14.3134 20.6032 16.3821 22.0586C16.7612 22.2413 17.1402 22.7234 17.7368 23.1547C17.4165 23.8285 17.1696 24.5442 16.9992 25.2899Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_420)" fill-rule='evenodd' clip-rule='evenodd' d='M17.1782 30.7317C17.4015 31.4684 17.6983 32.1692 18.0657 32.822C17.4016 32.9418 16.4171 33.0376 15.5796 32.7921C14.6599 32.5225 13.7725 32.7022 12.3943 34.3523C12.3943 34.3523 12.5471 31.2678 15.036 30.9234C15.515 30.7736 16.2673 30.9383 17.1782 30.7317Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_420)" fill-rule='evenodd' clip-rule='evenodd' d='M22.2468 36.856C22.9285 37.2004 23.6543 37.4609 24.4154 37.6316C24.004 38.1197 23.4398 38.6827 22.7963 39.0062C21.9382 39.4374 21.4005 40.1771 21.4681 42.3453C21.4681 42.3453 19.5463 39.9585 21.1624 37.9939C21.3593 37.6555 21.806 37.3411 22.2468 36.856Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_420)" fill-rule='evenodd' clip-rule='evenodd' d='M32.1612 35.8794C32.2787 36.4843 32.3492 37.221 32.2229 37.8829C32.0377 38.8412 32.2875 39.7276 34.0154 40.9884C34.0154 40.9884 30.9887 41.0932 30.4392 38.5956C30.2981 38.2332 30.3216 37.6882 30.2129 37.0444C30.9064 36.7329 31.5588 36.3406 32.1612 35.8794Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_420)" fill-rule='evenodd' clip-rule='evenodd' d='M35.9082 29.8186C36.3842 30.145 37.4803 30.9685 37.9916 31.9957C38.4236 32.8672 39.1553 33.4063 41.2798 33.3134C41.2798 33.3134 38.9584 35.299 37.016 33.6758C36.5429 33.3943 36.1139 32.6097 35.1824 32.0497C35.5027 31.3489 35.7495 30.6002 35.9082 29.8186Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_420)" fill-rule='evenodd' clip-rule='evenodd' d='M34.5391 22.0894C35.2002 21.9487 36.1935 21.8169 37.0456 22.0355C37.9742 22.2751 38.8528 22.0685 40.1811 20.3765C40.1811 20.3765 40.1252 23.461 37.6451 23.8893C37.1779 24.051 36.4256 23.9132 35.5264 24.1408C35.2708 23.4161 34.9387 22.7273 34.5391 22.0894Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_420)" fill-rule='evenodd' clip-rule='evenodd' d='M28.3623 17.6891C28.8207 17.195 29.5083 16.5661 30.2694 16.2576C31.1598 15.8982 31.7563 15.2065 31.865 13.0413C31.865 13.0413 33.587 15.5808 31.821 17.4046C31.5888 17.734 31.104 18.0125 30.6132 18.4797C29.905 18.1233 29.1528 17.8568 28.3623 17.6891Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_420)" fill-rule='evenodd' clip-rule='evenodd' d='M21.562 19.0487C21.4621 18.3719 21.3769 17.2668 21.6766 16.3534C21.9792 15.4281 21.8411 14.5177 20.2837 13.0413C20.2837 13.0413 23.2987 13.3318 23.5308 15.8803C23.6542 16.3624 23.4691 17.1051 23.6189 18.0185C22.8902 18.2761 22.1996 18.6234 21.562 19.0487Z' fill='#FF9100')
            path.svg-tab-shadow(filter="url(#filter0_f_118_420)" fill-rule='evenodd' clip-rule='evenodd' d='M28.6378 7.60303C28.6378 7.60303 29.7982 11.8602 27.7095 15.1713C27.3547 15.7339 26.8725 18.4632 28.6378 19.4284C28.8699 19.5554 30.4944 20.1379 32.1189 19.4284C32.1082 19.3849 34.4395 17.7729 37.4564 17.2999C41.1695 17.0633 42.2735 14.2082 42.3299 14.6983C42.4269 15.5388 41.4879 18.1149 38.8489 18.9554C35.1358 20.1379 35.1357 20.3745 34.2075 23.4491C34.2075 23.6856 33.1202 25.3411 37.6885 25.3411C39.7771 25.3411 41.2364 26.8484 41.8658 27.2332C43.0261 27.9427 45.7613 29.7262 46.9713 28.4157C46.8566 28.5035 45.8548 31.1569 42.0978 30.0713C41.4633 29.9017 36.9454 27.9746 35.1357 30.0713C34.7925 30.4322 33.4089 31.859 35.1357 33.6189C36.2961 34.8014 36.7602 35.0379 36.9923 38.1125C36.9923 39.0586 37.4096 41.3629 39.0809 41.6602C38.9085 41.6181 35.1357 41.1871 35.1357 38.3491C35.1357 35.984 30.1625 32.6587 28.6378 36.93C28.2157 38.1125 29.102 40.4776 26.3171 42.3697C25.853 42.8427 24.4933 43.5385 25.3888 46.3903C25.3561 46.4719 23.3329 44.6865 24.6926 41.6602C24.7595 41.4378 26.7142 37.6923 24.6926 36.2205C24.4281 35.8972 22.372 34.8014 20.5154 36.2205C20.0513 36.6935 17.4985 38.3491 14.4816 38.3491C14.0144 38.3491 12.1145 38.7542 11.2326 40.4776C11.1526 40.3986 11.4004 37.1556 14.4816 36.2205C14.6909 36.1171 17.7932 35.9362 18.8909 32.6729C19.0288 32.1123 18.8909 29.1252 15.6419 29.3618C14.9457 29.4124 13.3213 29.3618 11.2326 26.9967C10.5364 26.0506 8.28513 26.0989 7.05539 26.9967C6.79408 26.9004 8.96834 23.9102 12.393 25.3411C12.8571 25.5351 15.4099 27.4697 17.7306 26.2872C18.2625 26.0161 19.8345 25.2957 18.8909 22.7395C18.6289 22.03 17.2664 21.3205 16.5702 17.7729C16.5245 17.2024 15.4231 14.3527 13.7854 13.2792C13.8989 12.9874 16.5702 13.5157 18.4268 16.8268C18.8909 17.5364 20.9795 20.1379 22.8361 19.6649C23.9964 19.1919 24.5977 18.6092 24.6926 16.8268C24.82 16.3091 24.7739 14.6959 26.3171 13.2792C26.7813 12.853 28.8587 12.7447 28.6378 7.60303Z' fill='#FF9100')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M18.2493 26.0892C17.8299 25.7853 17.3523 25.3678 17.0517 24.8712C16.6372 24.1868 15.9996 23.7915 14.2589 24.0163C14.2589 24.0163 16.0335 22.2226 17.7402 23.4234C18.053 23.5741 18.3657 23.9718 18.8578 24.3276C18.5936 24.8835 18.3899 25.474 18.2493 26.0892Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M18.397 30.5786C18.5813 31.1864 18.8261 31.7646 19.1292 32.3032C18.5813 32.402 17.7691 32.4811 17.0782 32.2785C16.3194 32.0561 15.5873 32.2043 14.4503 33.5657C14.4503 33.5657 14.5763 31.0209 16.6297 30.7368C17.0249 30.6132 17.6455 30.7491 18.397 30.5786Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M22.5786 35.6312C23.141 35.9153 23.7398 36.1302 24.3677 36.2711C24.0283 36.6738 23.5628 37.1382 23.0319 37.4051C22.324 37.7609 21.8804 38.3711 21.9362 40.1599C21.9362 40.1599 20.3507 38.1907 21.684 36.57C21.8464 36.2908 22.2149 36.0314 22.5786 35.6312Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M30.7579 34.8255C30.8549 35.3246 30.9131 35.9323 30.8088 36.4784C30.6561 37.269 30.8622 38.0003 32.2876 39.0404C32.2876 39.0404 29.7907 39.1269 29.3373 37.0664C29.2209 36.7674 29.2403 36.3178 29.1506 35.7866C29.7228 35.5296 30.261 35.206 30.7579 34.8255Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M33.8492 29.8253C34.242 30.0946 35.1462 30.7741 35.5681 31.6215C35.9244 32.3404 36.5281 32.7852 38.2809 32.7086C38.2809 32.7086 36.3657 34.3466 34.7632 33.0076C34.3729 32.7753 34.019 32.128 33.2505 31.666C33.5147 31.0878 33.7183 30.4702 33.8492 29.8253Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M32.7197 23.4488C33.2652 23.3327 34.0846 23.2239 34.7877 23.4043C35.5537 23.602 36.2786 23.4315 37.3744 22.0356C37.3744 22.0356 37.3283 24.5803 35.2822 24.9337C34.8968 25.0671 34.2761 24.9534 33.5343 25.1412C33.3234 24.5433 33.0494 23.975 32.7197 23.4488Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M27.6239 19.8185C28.0021 19.4109 28.5694 18.892 29.1973 18.6375C29.9318 18.3411 30.424 17.7703 30.5137 15.984C30.5137 15.984 31.9343 18.0791 30.4773 19.5838C30.2858 19.8556 29.8858 20.0853 29.4809 20.4707C28.8967 20.1767 28.276 19.9569 27.6239 19.8185Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M22.0136 20.9402C21.9312 20.3818 21.8609 19.4701 22.1082 18.7166C22.3579 17.9531 22.2439 17.2021 20.959 15.984C20.959 15.984 23.4464 16.2237 23.6379 18.3262C23.7397 18.724 23.587 19.3367 23.7106 20.0903C23.1094 20.3028 22.5397 20.5893 22.0136 20.9402Z' fill='white')
        path.svg-tab(fill-rule='evenodd' clip-rule='evenodd' d='M27.8512 11.4975C27.8512 11.4975 28.8085 15.0096 27.0854 17.7413C26.7926 18.2055 26.3948 20.4572 27.8512 21.2534C28.0427 21.3582 29.3829 21.8388 30.7231 21.2534C30.7142 21.2175 32.6376 19.8876 35.1266 19.4974C38.1899 19.3023 39.1006 16.9468 39.1472 17.3511C39.2272 18.0445 38.4526 20.1698 36.2753 20.8632C33.212 21.8388 33.212 22.0339 32.4462 24.5705C32.4462 24.7656 31.5492 26.1314 35.318 26.1314C37.0411 26.1314 38.245 27.3749 38.7642 27.6924C39.7215 28.2777 41.978 29.7491 42.9763 28.668C42.8817 28.7404 42.0552 30.9294 38.9557 30.0338C38.4323 29.8939 34.705 28.3041 33.212 30.0338C32.9288 30.3316 31.7874 31.5087 33.212 32.9606C34.1693 33.9362 34.5522 34.1313 34.7437 36.6679C34.7437 37.4483 35.0879 39.3494 36.4668 39.5946C36.3245 39.5599 33.212 39.2044 33.212 36.863C33.212 34.9118 29.1091 32.1684 27.8512 35.6923C27.5029 36.6679 28.2341 38.619 25.9366 40.18C25.5537 40.5702 24.432 41.1443 25.1708 43.497C25.1438 43.5643 23.4747 42.0914 24.5964 39.5946C24.6516 39.4112 26.2642 36.3211 24.5964 35.1069C24.3782 34.8402 22.6819 33.9362 21.1502 35.1069C20.7673 35.4971 18.6613 36.863 16.1723 36.863C15.7869 36.863 14.2195 37.1972 13.4919 38.619C13.4259 38.5539 13.6303 35.8784 16.1723 35.1069C16.345 35.0216 18.9044 34.8724 19.81 32.1801C19.9237 31.7177 19.81 29.2533 17.1296 29.4484C16.5552 29.4902 15.215 29.4484 13.4919 27.4973C12.9176 26.7168 11.0602 26.7566 10.0457 27.4973C9.83012 27.4178 11.6239 24.951 14.4492 26.1314C14.8321 26.2914 16.9382 27.8875 18.8527 26.9119C19.2915 26.6883 20.5885 26.094 19.81 23.9851C19.5939 23.3998 18.4698 22.8144 17.8954 19.8876C17.8577 19.417 16.9491 17.066 15.598 16.1804C15.6916 15.9396 17.8954 16.3755 19.4271 19.1071C19.81 19.6925 21.5331 21.8388 23.0648 21.4486C24.0221 21.0583 24.5181 20.5776 24.5964 19.1071C24.7015 18.68 24.6634 17.3491 25.9366 16.1804C26.3195 15.8287 28.0335 15.7394 27.8512 11.4975Z' fill='white')
        defs
            filter(id="filter0_f_118_420" x='0' y='0' width='54' height='54' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                feflood(flood-opacity='0' result='BackgroundImageFix')
                feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                fegaussianblur(stddeviation='3.5' result='effect1_foregroundBlur_118_420')

mixin borderBtn-right
    svg(width='29' height='29' viewbox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M25.5 27C25.5 27.8284 26.1716 28.5 27 28.5C27.8284 28.5 28.5 27.8284 28.5 27H25.5ZM2 0.5C1.17157 0.5 0.5 1.17157 0.5 2C0.5 2.82843 1.17157 3.5 2 3.5V0.5ZM28.5 27V8H25.5V27H28.5ZM21 0.5H2V3.5H21V0.5ZM28.5 8C28.5 3.85786 25.1421 0.5 21 0.5V3.5C23.4853 3.5 25.5 5.51472 25.5 8H28.5Z' fill='#FFC803')

mixin borderBtn-left
    svg(width='29' height='29' viewbox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M3.5 2C3.5 1.17157 2.82843 0.5 2 0.5C1.17157 0.5 0.5 1.17157 0.5 2H3.5ZM27 28.5C27.8284 28.5 28.5 27.8284 28.5 27C28.5 26.1716 27.8284 25.5 27 25.5V28.5ZM0.5 2V21H3.5V2H0.5ZM8 28.5H27V25.5H8V28.5ZM0.5 21C0.5 25.1421 3.85786 28.5 8 28.5V25.5C5.51472 25.5 3.5 23.4853 3.5 21H0.5Z' fill='#FFC803')

mixin slider-fraction__prev
    button.slider-fraction__prev.slider-fraction__btn(type='button')
        svg(width='54' height='50' viewbox='0 0 54 50' fill='none' xmlns='http://www.w3.org/2000/svg')
            g
                path.svg-shadow(filter="url(#filter0_f_117_117)" d='M42 25L12 12.0096L12 37.9904L42 25Z' fill='#FF0000')
            path.svg-normal(d='M34 25L14.5 17.2058V32.7942L34 25Z' fill='white')
            path.svg-normal-border(d='M13 35.491L36.762 25L13 14.509V35.491Z' stroke='white')
            defs
                filter(id="filter0_f_117_117" x='0' y='0.00962067' width='54' height='49.9808' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                    feflood(flood-opacity='0' result='BackgroundImageFix')
                    feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                    fegaussianblur(stddeviation='6' result='effect1_foregroundBlur_117_117')

mixin slider-fraction__next
    button.slider-fraction__next.slider-fraction__btn(type='button')
        svg(width='54' height='50' viewbox='0 0 54 50' fill='none' xmlns='http://www.w3.org/2000/svg')
            g
                path.svg-shadow(filter="url(#filter0_f_117_117)" d='M42 25L12 12.0096L12 37.9904L42 25Z' fill='#FF0000')
            path.svg-normal(d='M34 25L14.5 17.2058V32.7942L34 25Z' fill='white')
            path.svg-normal-border(d='M13 35.491L36.762 25L13 14.509V35.491Z' stroke='white')
            defs
                filter(id="filter0_f_117_117" x='0' y='0.00962067' width='54' height='49.9808' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                    feflood(flood-opacity='0' result='BackgroundImageFix')
                    feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                    fegaussianblur(stddeviation='6' result='effect1_foregroundBlur_117_117')

mixin slider-gamer__prev
    button.slider-gamer__prev.slider-gamer__btn(type='button')
         svg(width='54' height='50' viewbox='0 0 54 50' fill='none' xmlns='http://www.w3.org/2000/svg')
            g
                path.svg-shadow(filter="url(#filter0_f_117_117)" d='M42 25L12 12.0096L12 37.9904L42 25Z' fill='#FF0000')
            path.svg-normal(d='M34 25L14.5 17.2058V32.7942L34 25Z' fill='white')
            path.svg-normal-border(d='M13 35.491L36.762 25L13 14.509V35.491Z' stroke='white')
            defs
                filter(id="filter0_f_117_117" x='0' y='0.00962067' width='54' height='49.9808' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                    feflood(flood-opacity='0' result='BackgroundImageFix')
                    feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                    fegaussianblur(stddeviation='6' result='effect1_foregroundBlur_117_117')

mixin slider-gamer__next
    button.slider-gamer__next.slider-gamer__btn(type='button')
         svg(width='54' height='50' viewbox='0 0 54 50' fill='none' xmlns='http://www.w3.org/2000/svg')
            g
                path.svg-shadow(filter="url(#filter0_f_117_117)" d='M42 25L12 12.0096L12 37.9904L42 25Z' fill='#FF0000')
            path.svg-normal(d='M34 25L14.5 17.2058V32.7942L34 25Z' fill='white')
            path.svg-normal-border(d='M13 35.491L36.762 25L13 14.509V35.491Z' stroke='white')
            defs
                filter(id="filter0_f_117_117" x='0' y='0.00962067' width='54' height='49.9808' filterunits='userSpaceOnUse' color-interpolation-filters='sRGB')
                    feflood(flood-opacity='0' result='BackgroundImageFix')
                    feblend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
                    fegaussianblur(stddeviation='6' result='effect1_foregroundBlur_117_117')

mixin add-svg
    svg.add-svg(width='32' height='34' viewbox='0 0 32 34' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M32 15L0 15L0 19H32V15Z' fill='#FFC803')
        path(d='M14 0L14 11L18 11V0L14 0Z' fill='#FFC803')
        path(d='M14 19L14 34H18V19H14Z' fill='#FFC803')

mixin delete-svg
    svg.delete-svg(width='33' height='33' viewbox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M28.5536 1.00449L0.131348 29.1501L2.97357 31.9647L31.3958 3.81905L28.5536 1.00449Z' fill='#FFC803')
        path(d='M32.7419 29.2491L19.2413 15.8799L16.3991 18.6945L29.8997 32.0637L32.7419 29.2491Z' fill='#FFC803')
        path(d='M14.1781 10.5546L3.51978 0L0.677555 2.81457L11.3359 13.3692L14.1781 10.5546Z' fill='#FFC803')


